body {
    margin:0px;
}
#title {
    display : grid;
    grid-template-columns: 86px 1fr;
    border-bottom: 1px solid gray;
    text-align: center;
}
#title #button {
    text-align:left;
}
h1 {
    display:box;
    text-align:center;
    margin : 0px;
    text-decoration: none;
    font-size:48px;
    padding : 5px;
    padding-right : 100px;
    padding-bottom:15px;

}
#index {
    text-align : left;
    border-right: 1px solid gray;
    width: 100px;
    margin: 0px;
    margin-top: 0px;
    padding: 5px;
}
#grid ol {
    padding-left:15px;
    margin-left:5px;
    margin-top:20px;
}
#grid {
    display:grid;
    grid-template-columns: 100px 1fr;
}

#script {
    padding :5px;
    margin-left : 15px;
}

a {
    color:blue;
    text-decoration: none;
}

@media(max-width :700px) {
    #grid {
        display:block;
    }

    #index {
        border-right:none;
    }

    h1 {
        font-size:30px;
    }
}